.food-cart-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    padding: 30px;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cart {
    background-color: tomato;
    border-radius: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    height: max-content;
}